*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns:11vw 58vw 42vw;
    grid-template-rows: 8vh 21.25vh 70.75vh;
    background-image: url(./images/bg-pattern-desktop.svg);
    z-index: 0;
}
.image{
    grid-column: 3;
    grid-row: 1/4;
    background-image: url(./images/hero-desktop.jpg);
    background-repeat: no-repeat;
}
.logo-text-form{
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 23.75vh 20vh 27vh;
}
.logo{
    grid-column: 2;
    grid-row: 2;  
}
span{
    color: hsl(0, 36%, 70%);
    font-weight: 300 !important;
}
h1{
    grid-row: 1;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 23px;
}
p.welcome{
    grid-row: 2;
    font-size: 16px;
    font-weight: bold;
    color: hsl(0, 36%, 70%);
    line-height: 30px;
    max-width: 31vw;
}
form{
    width: 31vw;
    position: relative;
}

.input-email{
    /*position: absolute;*/
    width: 100%;
    height: 6.875vh;
    font-size: 0.9rem;
    padding: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    
}
.input-email:focus{
    border: 2px solid hsl(0, 78%, 65%);
    outline: none;
    
}

::placeholder{
    color:hsl(0, 36%, 70%);
    
}
.error-icon{
    position: absolute;
    top: 2vh;
    right: 12vw;
    visibility: hidden;

}
.error-message{
    color:hsl(0, 79%, 68%);
    font-size: 16px;
    margin-top: 0.5rem;
    margin-left: 2rem;
    visibility: hidden;
}
form.error .error-message{
    visibility: visible;
}
form.error .error-icon{
    visibility: visible;
}
.btn-validation{
    
    height: 6.875vh;
    width: 10vw;
    position: absolute; 
    right: 0;
    border: none;
    border-radius: 50px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 10px 10px 0px hsl(0deg 70% 90% / 70%);
}
.btn-validation:hover{
    cursor: pointer;
    background: hsl(0, 80%, 86%);
}
.btn-validation:focus-visible{
    outline: none;
    border: 2px solid hsl(0, 78%, 65%);
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 200px) and (max-width: 768px) {
    .grid {
        grid-template-columns:100vw;
        grid-template-rows: 10.625vh 31.25vh 58.125vh;
        text-align: center;
      }
  .image{
    grid-column: 1;
      grid-row: 2;
    background-image: url(./images/hero-mobile.jpg);
    width: 100%;
    z-index: 1;
    background-repeat:no-repeat;
  }
  .logo-text-form{ 
    grid-column: 1;
    grid-template-rows: 21.25vh 23.75vh 20vh 27vh;
}
.logo{
    grid-column: 1;
    grid-row: 1;
    margin-left: 10vw;
    margin-top: 5vw;
}
h1{
    margin-top: 10vw;
    font-size: 30px;
    letter-spacing: 15px;
    margin:auto;
}
p.welcome{
    max-width:none;
    padding: 1vw;
    margin:auto;
}
form{
    position: relative;
    width: 95%;
    margin: auto;
    margin-top: 0;
}
.btn-validation{
    height: 6.875vh;
    width: 30vw;
}
.error-icon{
    right: 35vw;
}
.error-message{
    margin-left:2vw;
    text-align: left;
}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    .grid {
        grid-template-columns:50vw 50vw;
      }
      .logo{
        grid-column: 1;
        margin-left: 10vw;
    }
      .image{
        grid-column: 2;
        background-image: url(./images/hero-desktop.jpg);
    }
    .logo-text-form{
        grid-column: 1;
        margin-left: 5vw;
    }
    form{
        margin-top: 50px;
        width: auto;
        margin-right: 20px;
}
    p.welcome{
        max-width: 40vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .grid {
    grid-template-columns:50vw 50vw;
  }
  .image{
    grid-column: 2;
    background-image: url(./images/hero-desktop.jpg);
}
    .logo{
        grid-column: 1;
        margin-left: 10vw;
    }
.logo-text-form{
    grid-column: 1;
    margin-left: 10vw;
}
}

/* Extra large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px ) {
    .grid {
        grid-template-columns:11vw 58vw 42vw;
}